.App {
  text-align: center;
}

.content{
  max-width:800px;
  margin-right:auto;
  text-align: left;
  margin-left:auto;
  margin-top:25px;
  padding:25px 25px 25px 25px;
  background-color: rgba(255,255,255,0.5);
  border-radius:15px;
  margin-bottom:100px;
}

.venue {
  width: 50%; /* or any other size */
  /*height: 40%; */
  display: block; /* removes any unwanted space around the image */
  margin: auto; /* centers the SVG horizontally */
}

/*@font-face {
  font-family: 'Trattatello';
  src: url('fonts/Trattatello.ttf');
  font-weight: normal;
  font-style: normal;
}*/

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Phudu:wght@400;500;900&display=swap');

/*@font-face {
  .lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}
}*/

@import url("https://use.typekit.net/tjq2sop.css");


.App-header {
  background-image: url('../public/images/beach.JPG'); /* Replace with your image path */
  background-size: cover; /* Cover ensures the image covers the entire div */
  background-position: center; /* Centers the image in the div */
  height: 100vh; /* This makes the div fill the height of the viewport */
  width: 100vw; /* This makes the div fill the width of the viewport */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.static-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../public/images/bg-new.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1; /* Keep the background behind other content */
}

.main-content {
  height: 100%;
  overflow-y: scroll; /* Enable vertical scrolling */
}

.home{
  text-align: center;
  background-image: url('../public/images/bg-new.jpeg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  min-height: 100vh;
}

/*.favorites{
  text-align: center;
  background-image: url('../public/images/engagement.JPG'); 
  background-size: cover; 
  background-position: center;
  height: 100vh;
  width: 100vw; 
  min-height: 100vh;
}*/

.hp_logo{
  width:100px;
}

button{
  border-radius: 5px;
  border: none;
  padding:5px 10px 5px 10px;
}

.App-link {
  color: black;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
  /*font-family: 'Trattatello', serif; */
  font-size:20px;
}

/* NAV CSS */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  /*background-color: #f0f0f0;
  box-shadow: 0 4px 6px rgba(0,0,0,0.15);*/
}

.nav-content {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.logo {
  height: 50px;
  flex-shrink: 0; /* Prevent the logo from shrinking */
}

.hamburger {
  display: none; /* Hidden by default */
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
  color:white !important;
}

.nav-links {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  flex-grow: 1; /* Allows the nav links to take up available space */
  justify-content: flex-end; /* Aligns links to the right */
  font-family: "orpheuspro", serif;
  font-weight: 400;
  font-style: normal;
  color:white;
  /*font-family: 'Trattatello', serif;*/
}

.nav-links li {
  margin-left: 20px; /* Space between links */
}

.nav-links li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.nav-links li a:hover {
  text-decoration: underline;
}

/* Mobile styles */
@media (max-width: 768px) {
  .hamburger {
      display: block; /* Show hamburger icon in mobile view */
  }

  .nav-links {
      flex-direction: column;
      width: 100%;
      display: none; /* Hidden by default */
      position: absolute;
      top: 60px; /* Adjust based on your nav bar's height */
      left: 0;
      background-color: #f0f0f0; /* Match the nav bar background */
  }

  .nav-links.open {
      display: flex; /* Display menu when open */
  }

  .nav-links li {
      text-align: center;
      padding: 10px 0;
      width: 100%; /* Full width for each link */
  }

  .nav-content {
      justify-content: space-between; /* Keeps logo and hamburger spaced apart */
  }
}

.two-column-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  list-style-type: none;
}

li{
  font-weight:500;
}

span{
  font-weight:200;
}

h2,h3{
  padding-left:40px;
  padding-top:30px;
}
p{
  padding-top:30px;
  padding-right:40px;
  padding-left:40px;
}


/* slider CSS */
/* General Styles for the Slider Container */
.App {
  position: relative;
  display: flex;
  align-items: center; /* Centers the content vertically */
  justify-content: center; /* Centers the content horizontally */
  overflow: hidden; /* Ensures no content spills out */
  height: 300px; /* Fixed height equal to the image height */
}

/* Slider container styles */
.images-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  align-items: center; /* Ensures images are vertically centered */
  height: 100%; /* Full height of the container */
  flex: 0 1 auto; /* Allows the container to grow and shrink but not beyond its content size */
  width: calc(100% - 60px); /* Adjust width to allow space for arrows, consider arrow padding */
  gap: 10px; /* Adds space between images */
  margin: 0 30px; /* Spacing for arrows */
}

/* Style for each image in the slider */
.image {
  cursor: pointer;
  transition: transform 0.3s ease;
  height: 300px; /* Set height for all images */
  width: auto; /* Allows natural image width */
  border-radius: 5px;
  object-fit: cover; /* Ensures images cover the area properly without distortion */
}

.image:hover {
  transform: scale(1.05); /* Subtle scaling effect on hover */
}

/* Navigation buttons */
.nav-btn {
  background-color: #efefef;
  border: none;
  padding: 0 10px; /* Adjust padding as needed */
  cursor: pointer;
  border-radius: 5px;
  position: absolute;
  top: 0; /* Aligns button vertically to the top of the slider */
  height: 300px; /* Exact height of the images */
  display: flex;
  align-items: center; /* Centers content vertically */
  justify-content: center; /* Centers content horizontally */
  z-index: 2; /* Ensures buttons are above the images */
}

.nav-btn:first-of-type {
  left: 0; /* Position the left button on the far left */
}

.nav-btn:last-of-type {
  right: 0; /* Position the right button on the far right */
}

/* Popup for showing the selected image */
.image-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.hp_names {
  top: 30% !important;
  position: relative;
  color: white;
}

.image-popup img {
  max-width: 90%; /* Gives some margin */
  max-height: 80%; /* Avoids touching the edges */
  box-shadow: 0 0 10px #fff;
}
