.App {
  text-align: center;
}

.App-header {
  background-image: url('../public/images/beach.JPG'); /* Replace with your image path */
  background-size: cover; /* Cover ensures the image covers the entire div */
  background-position: center; /* Centers the image in the div */
  height: 100vh; /* This makes the div fill the height of the viewport */
  width: 100vw; /* This makes the div fill the width of the viewport */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.home{
  text-align: center;
  background-image: url('../public/images/beach_2.JPG'); /* Replace with your image path */
  background-size: cover; /* Cover ensures the image covers the entire div */
  background-position: center; /* Centers the image in the div */
  height: 100vh; /* This makes the div fill the height of the viewport */
  width: 100vw; /* This makes the div fill the width of the viewport */
  min-height: 100vh;
}

.intro_text{
  font-size: 50px;
  font-weight: 800;
}

.App-link {
  color: white;
}

/* NAV CSS */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  background-color: #f0f0f0;
  box-shadow: 0 4px 6px rgba(0,0,0,0.15); 
}

.nav-content {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.logo {
  height: 50px;
  flex-shrink: 0; /* Prevent the logo from shrinking */
}

.hamburger {
  display: none; /* Hidden by default */
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
}

.nav-links {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  flex-grow: 1; /* Allows the nav links to take up available space */
  justify-content: flex-end; /* Aligns links to the right */
}

.nav-links li {
  margin-left: 20px; /* Space between links */
}

.nav-links li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.nav-links li a:hover {
  text-decoration: underline;
}

/* Mobile styles */
@media (max-width: 768px) {
  .hamburger {
      display: block; /* Show hamburger icon in mobile view */
  }

  .nav-links {
      flex-direction: column;
      width: 100%;
      display: none; /* Hidden by default */
      position: absolute;
      top: 60px; /* Adjust based on your nav bar's height */
      left: 0;
      background-color: #f0f0f0; /* Match the nav bar background */
  }

  .nav-links.open {
      display: flex; /* Display menu when open */
  }

  .nav-links li {
      text-align: center;
      padding: 10px 0;
      width: 100%; /* Full width for each link */
  }

  .nav-content {
      justify-content: space-between; /* Keeps logo and hamburger spaced apart */
  }
}
